$primary-color: #9b59b6;
$border-color: #bdc3c7;

@define-mixin shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

@define-mixin shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@define-mixin shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@define-mixin shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@define-mixin shadow-5 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@define-mixin shadow-2-reversed {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * this is just to set a baseline, all fonts should use rem
 * rem is baseline of 10px, so 3rem = 30px etc...
 * 1rem = 20px
 * 1.4rem = 28px
 * 2.4rem = 48px
 * ...
 */
html {
  font-size: 125%; /* =20px */
}

/**
 * set base text size to 16px
 */
body {
  background-color: #ecf0f1;
  font-size: 0.7rem;
}

/**
 * i like thin headers
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  font-weight: 300;
}

.app-header {
  @mixin shadow-2;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    display: inline-block;
    margin: 0;
    padding: 30px 0;
  }

  .settings-toggle {
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
    width: 35px;

    &.active {
      border-color: $primary-color;
    }

    img {
      width: 100%;
    }
  }
}

.settings-slideout {
  @mixin shadow-3;
  background-color: white;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 2;
  transform: translateX(-300px);
  transition: transform .1s linear;

  &.active {
    transform: translateX(0px);
  }

  .close {
    img {
      cursor: pointer;
      float: right;
      width: 20px;
    }
  }

  h2 {
    margin-top: 100px;
  }

  form {
    border-top: 1px solid $primary-color;
    clear: both;
    display: block;
    flex: 2;
    overflow-y: scroll;
    padding: 20px 10px;

    fieldset {
      border-color: transparent;
      margin: 0 0 30px;
      padding: 0;

      label {
        color: $primary-color;
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="checkbox"] {
        border-color: $primary-color;
        border-radius: 3px;
        color: $primary-color;
        margin-bottom: 15px;
        padding: 5px;
      }

      input[type="text"] {
        display: block;
        width: 100%;
      }

      .react-datepicker__input-container {
        display: block;
      }
    }

    button {
      background-color: $primary-color;
      border: none;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      float: right;
      padding: 10px;
      outline: none;
      text-transform: uppercase;
    }
  }
}

.admin-view {
  padding-top: 120px;

  .event-list {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 20px;

    .event-list-column {
      margin: 0 auto;
      width: 380px;
    }

    .event {
      @mixin shadow-1;
      background-color: white;
      /* border: 1px solid $border-color; */
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 15px;
      width: 100%;

      .lazy-load{
        img {
          width: 100%;
          max-height: 300px;
        }
      }

      blockquote {
        align-items: space-around;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin: 0;
        padding: 15px;
      }

      p {
        word-wrap: break-word;
      }

      .actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 10px 15px;

        .viewed,
        .not-viewed {
          cursor: default;
          margin-right: auto;
        }

        span {
          cursor: pointer;
        }

        img {
          width: 20px;
        }
      }
    }
  }
}

.timeline-filter {
  @mixin shadow-2-reversed;
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  justify-content: space-between;
  align-items: flex-start;
  left: 150px;
  padding: 0;
  position: fixed;
  right: 150px;
  transform: translateY(50px);
  transition: transform .15s linear;

  &:hover {
    transform: translateY(0);
  }

  .handle {
    background-color: $primary-color;
    cursor: col-resize;
    height: 100%;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 3;

    &.from {
      left: 0;
    }

    &.to {
      right: 0;
    }
  }

  .marker {
    background-color: $primary-color;
    height: 20px;
    margin: 0 auto;
    width: 1px;

    &.first {
      display: none;
    }

    &.day-marker {
      height: 40px;
      position: relative;

      span {
        color: $primary-color;
        display: block;
        font-size: 10px;
        margin-left: -100px;
        margin-top: 5px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 100%;
        width: 200px;
      }
    }
  }

  .filter-range-overlay {
    background-color: $primary-color;
    bottom: 0;
    opacity: 0.1;
    position: absolute;
    z-index: 2;
    top: 0;
  }
}
